<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File upload</title>
</head>
<body>
    <h1>welcome <%=user.firstname%></h1>
    <form action="/upload" method="post">
        <input type="text" name="url" />
        <button type="submit">Upload</button>
    </form>
</body>
</html>